.mainSection{
    padding-top: 10px;
    height: 100vh; 
    width: 100vw;
    background: linear-gradient(180deg, rgba(89,75,146,1) 0%, rgba(151,113,215,1) 100%);
}

.nav{
    display: flex;
    padding-top: 25px;
}

.navItem{
    color:#fff; 
    padding-left: 4rem;
    
}

  
  .knobs,
  .layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .button {
    position: relative;
    top: 50%;
    width: 60px;
    height: 32px;
    margin: -20px auto 0 auto;
    overflow: hidden;
  }
  
  .button.r,
  .button.r .layer {
    border-radius: 100px;
  }
  
  .button.b2 {
    border-radius: 2px;
  }
  
  .checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
  }
  
  .knobs {
    z-index: 2;
  }
  
  .layer {
    width: 100%;
    background-color: #BA8FED;
    transition: 0.3s ease all;
    z-index: 1;
  }
  

/* Button 3 */
#button-3 .knobs:before {
    content: "EN";
    position: absolute;
    top: 2px;
    left: 4px;
    width: 30px;
    height: 28px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    background-color: #6D3EA5;
    border-radius: 50%;
    transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
  }
  
  #button-3 .checkbox:active + .knobs:before {
    width: 46px;
    border-radius: 100px;
  }
  
  #button-3 .checkbox:checked:active + .knobs:before {
    margin-left: -20px;
  }
  
  #button-3 .checkbox:checked + .knobs:before {
    content: "FR";
    left: 28px;
    background-color: #6D3EA5;
  }
  
  #button-3 .checkbox:checked ~ .layer {
    background-color: #BA8FED;
  }

/* title section */
.titleSection{
    color:#fff; 
    z-index: 100;
}

